<!DOCTYPE html>
<html class="no-js" xmlns:th="http://www.thymeleaf.org" th:fragment="baseLayout (title,body)">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="" th:href="@{/vender/bootstrap/css/vendor/bootstrap.min.css}" rel="stylesheet">
    <link href="" th:href="@{/vender/bootstrap/css/flat-ui.css}" rel="stylesheet">
    <link href="" th:href="@{/original/style.css}" rel="stylesheet">
    <title th:replace="${title}">Todo Application</title>

</head>
<body>
    <div id="header" th:replace="~{common/header :: header}"></div>
    <div id="body" th:replace="${body}"></div>    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js@1.14.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="http://vjs.zencdn.net/6.6.3/video.js"></script>
    <script src="" th:src="@{/vender/bootstrap/scripts/flat-ui.js}"></script>
</body>
</html>
