<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/common/template :: baseLayout(~{::title},~{::body/content()})}">
<head>
    <title>Accounts</title>
</head>
<body>
<div class="container py-3">
    <div th:if="${isSuccess}">
        <h1>Finish registration</h1>
        <p class="py-5">
            Thank you for registering!!<br>
            Enjoy our attractive application !!
        </p>
        <a href="/" class="btn btn-outline-primary">Go Login Form</a>
    </div>
    <div th:unless="${isSuccess}">
        <h1>Registration failure</h1>
        <p class="py-5">
            We failed to regist your account.<br>
            Maybe you already have the account.
        </p>
        <a href="/login" class="btn btn-outline-primary">Go to login form</a>
    </div>
</div>
</body>