<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/common/template :: baseLayout(~{::title},~{::body/content()})}">
<head>
    <title>Todos</title>
</head>
<body>
<div class="container py-3">
    <section>
        <h1 class="display-h1">This is atractive todo application !!</h1>
        <p class="lead">
            This is just demo application.<br>
            You can enjoy this application, but please delete your account when you finish playing.<br>
            For guest user, we prepare following guest account.<br>
            If you would not like to create account, please use following account.<br>
        </p>
        <ul>
            <li>Name:guest</li>
            <li>Password:password</li>
        </ul>
    </section>
    <div class="my-2">
        <a href="/login" class="btn btn-primary" id="loginLink">Login</a>
        <a href="/accounts/new" class="">Create your account</a>
    </div>
</div>

</body>
</html>